body {
    background-image: url('/images/pokerchipsWhitebg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.game-name-list-item {
    text-transform: capitalize;
}

.gameButton, .agentButton {
    width: 150px;
    justify-content: start;
}

/* agent list component*/

.agentList {
    list-style-type: none;
}